<div class="page-wrap">

  <h1>About</h1>
  <p>
    Bike Imperium is the place to buy bikes, bike components, and cycling accessories. If you’re looking for a new or used bike, you’ve come to the right place. The choice is enormous and prices are great. 
  </p>

</div>
