<div class="page-wrap">

  <h1 class="bike-logo">Welcome to<br><span class="header-logo">Bike Imperium</span><br><%= image_tag("icon.png", width: '50%')%></h1>

  <h2 id="image-header">Your source for used bikes in Munich</h2>
  <div class="index-image">
    <%= image_tag("bike.jpg", title: 'Rails Application', class: 'intro-image') %>
  </div> <!-- end index-image -->

</div> <!-- end page-wrap -->
