<div class="page-wrap">

  <h1 class="bike-logo">Welcome to<br><span class="header-logo">Bike Imperium</span><br><%= image_tag("icon.png", width: '50%')%></h1>
  <h2>Your source for used bikes in Munich</h2>

  <%= image_tag("bike.jpg", title: 'Rails Application', class: 'col-md-6 col-xs-12 col-md-offset-3') %>


</div>
