<body style="width: 100%; margin: 0;">
  <table style="width: 100%; height: 100%; background-color: rgb(69, 200, 43); padding: 0 30px">
    <tbody>
      <tr>
        <td><p style="color: white; font-size: 18px; text-align: center">You have received a new contact form message. The contents of the message are:</p></td>
      </tr>
      <tr>
        <td><p style="color: white; text-align: center; border: 1px solid white; padding: 30px 20px; margin-bottom: 50px;"><%= @message %></p></td>
      </tr>
    </tbody>
  </table>
</body>
