// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  margin-top: 45px;
}

tr {
  border-top: 1px solid black;
}

table th, table td {
  padding: 10px;
}
