// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *::after, *::before { box-sizing:border-box; }

html, body {
  height: 100%;
  margin: 0;
} /*page-wrap*/

body {
  margin-top: 50px;
} /*bcs of fixed nav*/

.page-wrap {
  min-height: 100%;
  margin: 0 40px -60px 40px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap h1 {
  margin-bottom: 20px;
}

h1 {
  margin: 70px auto 0;
}

.bike-logo {
  width: 335px;
  height: 335px;
  border-radius: 50%;
  padding-top: 60px;
}

footer, .page-wrap:after {
  height: 60px;
}

footer {
  background-color: rgb(22, 186, 100);
}


// index page
#image-header {
  padding: 10px 0;
}

.intro-image {
  width: 50%;
}


// landing_page page
.carousel-caption {
  bottom: 300px;
  background-color: rgba(184, 180, 189, 0.62);
}

.carousel-control {
  background: none !important;
  filter: none !important;
  progid:none !important; }

// show page
#product-show {
  padding-top: 20px;
} // bcs. of nav


// typography
* {
  font-family: 'Raleway', 'Arial', sans-serif;
}

nav a {
  font-size: 1.2em;
  text-transform: uppercase;
}

.bike-imperium-logo {
  font-family: "Eater Caps";
  font-size: 2em;
  line-height: 2.1;
}

.bike-imperium-logo:hover, .bike-imperium-logo:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2em;
}

nav i {
  color: white;
}

nav a:hover, .nav a:focus {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 2px;
}

h1 {
  color: grey;
  text-align: center;
  font-weight: bold;
}

.bike-logo {
  border: 2px dashed grey;
  font-size: 3em;
}

.header-logo {
  font-family: "Eater Caps";
}

#image-header {
  text-align: center;
}

.carousel-caption {
  font-size: 3.5em;
  font-weight: bold;
}

footer {
  color: white;
  text-align: center;
  line-height: 3.5;
}

// media queries
@media (max-width: 950px) {
  body {
    margin-top: 130px;
  }
}

@media (max-width: 860px) {
  .carousel-caption {
    bottom: 200px;
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  body {
    margin-top: 276px;
  }

  .carousel {
    padding-top: 50px;
  }

  .page-wrap {
    padding-top: 10px;
  }

  .intro-image {
    width: 100%;
  }

  .products-header {
    padding-top: 90px;
  } // bcs. of nav

  #product-show {
    padding-top: 110px;
  }// bcs. of nav
}

@media (max-width: 510px) {
  .carousel-caption {
    bottom: 95px;
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .bike-logo {
    width: 265px;
    height: 265px;
    padding-top: 45px;
    font-size: 2.6em;
  }

  .bike-imperium-logo {
    font-size: 1.5em;
  }
}
